<form ng-submit="vm.addGroup()" class="form-inline group-form">
  <div class="form-group">
    <input ng-model="vm.newGroup.name" type="text" class="form-control" label="Name" placeholder="John Doe" required>
  </div>
  <div class="form-group">
    <input ng-model="vm.newGroup.phone" type="text" class="form-control" label="Phone number" placeholder="+15559873210" required>
  </div>
  <div class="form-group">
    <input ng-model="vm.newGroup.size" type="number" class="form-control" label="Group size" placeholder="2" required>
  </div>
  <button type="submit" class="btn btn-primary">Add group</button>
</form>